body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p,h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
} 

button {
    cursor: pointer;
}

img {
    display: block;
}

.container {
    /*width: 1158px;
    padding: 0 15px;
    margin: 0 auto;*/
    width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

/*------------header------------------- */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    max-width: 320px;
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    align-items: center;
    justify-content: space-between;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-logo {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-logo-color {
    color: #2E2F42;
}

.header-menu-list {
    display: none;
}

.contacts {
    display: none;
}

.icon-menu-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    line-height: 0;
}

.mob-menu {
    min-width: 100%;
    min-height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    visibility: hidden;
    opacity: 0;
    /*pointer-events: 0;*/
    padding: 24px 24px 40px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 999;
}

.mob-close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-left: auto;
    margin-bottom: 24px;
    fill: #e7e9fc;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 100%;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.mob-close:hover,
.mob-close:focus {
    background-color: #404bbf;
    border: none;
}

.mob-close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-close:hover .mob-close-icon,
.mob-close:focus .mob-close-icon {
    fill: #ffffff;
}

.mob-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mob-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mob-nav-link.psevdo {
    color: #404bbf;
}

.mob-nav-link:hover,
.mob-nav-link:focus {
    color: #404bbf;
}

.mob-address {
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 168px;
    margin-bottom: 48px;
}

.mob-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mob-address-link.current {
    color: #4d5ae5;
}

.mob-address-link {
    color: #434455;
    margin-bottom: 24px;
}

.mob-address-link:hover,
.mob-address-link:focus {
    color: #4d5ae5;
}

.mob-social-list {
    display: flex;
    gap: 40px;
}

/*----------- hero --------------- */

.hero {
max-width: 320px;
padding: 72px 0;
margin: auto;
background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/hero-bg-mob.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
color: #2e2f42;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
      .hero {
          background-image: linear-gradient(to bottom,
                  rgba(46, 47, 66, 0.7),
                  rgba(46, 47, 66, 0.7)),
              url(../images/hero-bg-mob-2x.jpg);
    }
}

.hero-container {
   }

.hero-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    max-width: 496px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    }

.hero-btn {
    padding: 16px 32px; 
    background-color: #4D5AE5;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    min-width: 169px;
    height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
    transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

/*------------------------------- */

/*----------- features --------------- */

.features {
    padding: 96px 16px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.features-list-item {
    width: 100%;
}
    
.features-icon {
   /* width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background-color: #F4F4FD;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;*/
    display: none;
}

.features-list-title {
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.features-list-text {
    max-width: 288px;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    margin: 0;
}

/*------------------------------- */

/*----------- team --------------- */

.team {
    background-color: #F4F4FD;
    min-width: 320px;
    padding-top: 96px;
    padding-bottom: 96px;
    margin: 0 auto;
}

.team-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
}

.team-item {
    min-width: 264px;
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-img {
    margin: 0 auto;
}

.team-container-workers {
    padding: 32px 0;
}

.team-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
    background-color: #FFFFFF;
    margin-bottom: 8px;
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    padding-bottom: 8px;
    text-transform: capitalize;
}

.item {
    width: 40px;
    height: 40px;
    display: flex;
}

.links-list {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;  
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover {
    background-color: #404BBF;
}
.link:focus {
    background-color: #404bbf;
}

.team-icons {
    /*gap: 24px;*/
   fill: #f4f4fd;
}

/*.icon-instagram {
    fill: #f4f4fd;
}

.icon-twitter {
    fill: #f4f4fd;
}

.icon-facebook {
    fill: #f4f4fd;
   }
   
.icon-linkedin {
    fill: #f4f4fd;
}*/

/*------------------------------- */

/*----------- portfolio --------------- */

.portfolio {
    text-transform: capitalize;
    background-color: #fff;
    padding-top: 96px;
    padding-bottom: 96px;
}

.portfolio-container {
max-width: 320px;
}

.portfolio-title {
     color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.portfolio-item {
    width: 288px;
    position: relative;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16), 
            0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-cover-text{
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-text-container {
   /* width: 360px;
    height: 120px;
    background-color:#FFFFFF;
*/
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.portfolio-cover-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-cover-text {
    position: absolute;
    top: 0;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    background-color: #4D5AE5;
    height: 100%;
    width: 100%;
    padding: 40px 32px;
    display: flex;
    align-items: center;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0;
}

/*------------------------------- */

/*----------- footer --------------- */

.footer {
    background-color: #2E2F42;
    margin: 0 auto;
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer-container {
    margin-bottom: 72px;    
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: block;
    text-align: center;
}

.footer-logo-color {
color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    min-width: 288px;
    color: #F4F4FD;
}

.footer-social {
    margin-bottom: 72px;
}
    

.footer-social-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    text-align: center;
}

.footer-links-list {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.footer-item {
    width: 40px;
    height: 40px;
}

.footer-link {  
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover {
    background-color:#31d0aa;
}

.footer-link:focus {
    background-color: #31d0aa;
}

.footer-icons {
    fill: #f4f4fd
}

.footer-sub {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}

.footer-form-email {
    height: 40px;
    min-width: 288px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font: 400 12px / 2 "Roboto", sans-serif;
    letter-spacing: 0.04em;
    color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding-left: 16px;
}

/*
.footer-form-email::placeholder {
    color: #ffffff;
}*/

.footer-sub-btn {
      margin-top: 16px;
        margin-left: auto;
        margin-right: auto;
        background-color: #4d5ae5;
        padding: 8px 24px;
        color: #fff;
        border: none;
        border-radius: 4px;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        cursor: pointer;
        gap: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 165px;
        height: 40px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.btn-icon-send {
    fill: #FFFFFF;
}

/*------------------------------- */


/*--------backdrop--------------*/

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
opacity: 0;
visibility: hidden;
pointer-events: none;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    width: 408px;
    min-height: 584px;
    background-color: #FCFCFC;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.modal-close {
    background-color: #e7e9fc;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    top: 24px;
    right: 24px;
    margin-left: auto;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
   }

.modal-close:hover {
    background-color: #404bbf;
    border: none;
    /*transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);*/
    fill: #ffffff;
}

.modal-close:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-icons-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-wrap {
/*position: relative;
padding: 72px 24px 24px 24px;*/
    margin-bottom: 8px;
}

.modal-icons {
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    /*padding: 3px 0px 3px 0px;
    gap: 4px;
    opacity: 0;*/
    position: absolute;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    justify-content: center;
    margin-bottom: 16px;
}

.modal-input {
    width: 100%;
    height: 40px;
    border-Radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-bottom: 8px;
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-input:focus+ .modal-icons{
    fill: #4D5AE5;
}
.modal-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.modal-input-icon {
    position: relative;
}

.user-name .user-phone .user-email {
    display: block;
    margin: 0 0 4px 24px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #8E8F99;
}

.modal-feedback {
    margin-bottom: 16px;
}

textarea {
    resize: none;
    border-radius: 4px;
    Border: 1px solid #8E8F99;
    margin: 0 24px 16px 0;
    width: 360px;
    height: 120px;
}

.modal-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment:focus {
    border-color: #4D5AE5;
}

.modal-comment::placeholder {
    color: #2E2F4266;
}

.modal-checkbox {
    margin-bottom: 24px;
}

.modal-checkbox-text{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color:#8e8f99;
}

.modal-checkbox-text-icon {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}

.modal-checkbox-input:checked + .modal-checkbox-text>.modal-checkbox-text-icon {
    background-color:#404bbf;
    border: none;
    fill: #F4F4FD;;
}

.modal-check-link {
    color: #4d5ae5;;
}

.modal-submit {
    min-width: 169px; 
    Height: 56px; 
    Top: 584px; 
    Left: 635px;
    border-radius: 4px; 
    Gap: 10px;
    color: #FFFFFF;
    background-color: #4D5AE5;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
    padding: 16px 32px;
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*------------------------------- */

/*---------media---------------*/

@media screen and (min-width: 768px) {

.container{
width: 768px;
}

  .header-container {
      max-width: 768px;
      padding-top: 0;
      padding-bottom: 0;
  }

  /*---------header768-----------*/

  .header-logo {
      margin-right: 120px;
  }

  .header-menu-list {
      display: flex;
      gap: 40px;
      margin-right: 121px;
  }

  .header-menu-link {
      color: #434455;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.02em;
      padding: 24px 0;
      display: block;
      position: relative;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-menu-link:hover,
  .header-menu-link:focus {
      color: #404bbf;
  }

  .header-menu-link.current {
      display: flex;
      color: #404BBF;
  }

  .header-menu-link.current:after {
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: #404bbf;
      content: "";
      position: absolute;
      left: 0;
      /*top: 69px;*/
    bottom: -1px;
  }

  .contacts {
    display: block;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  /*.contacts-item {
          color: #434455;*/
  

.contacts-item-link {
      color: #434455;
      font-size: 12px;
      font-weight: 400;
      line-height: 1.17;
      letter-spacing: 0.04em;
      font-style: normal;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 12px;
  }

.contacts-item-link:hover,
.contacts-item-link:focus {
      color: #404bbf;
    }

  .icon-menu-btn {
    display: none;
}
  
/*--------------hero-768---------------------*/

.hero{
padding: 112px 0;
max-width: 768px;
background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero-bg-tab.jpg);
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
      
.hero {
          background-image: linear-gradient(to bottom,
                  rgba(46, 47, 66, 0.7),
                  rgba(46, 47, 66, 0.7)),
              url(../images/hero-bg-tab-2x.jpg);
    }
}

.hero-title {
    max-width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
}

/*--------------features-768---------------------*/

.features-list {
    gap: 72px 24px;
}

.features-list-item {
    width: calc((100% - 24px) / 2);
}

.features-icon {
    display: none;
}

.features-list-title {
    text-align: left;
}

.features-list-text {
    max-width: 356px;
}

.team .container {
    max-width: 768px;
}

.team-title {
    left: 316px;
}

.team-list {
    gap: 64px 24px;
}

/*-----portfolio 768 -------*/

.portfolio-container {
    margin: 0 auto;
    max-width: 736px;
}

.portfolio-title {
    }

.portfolio-list {
    gap: 72px 24px;
}

.portfolio-item {
    width: calc((100% - 2* 24px) /3);
}
/*-------------------*/

/*-----footer 768 -------*/
.footer-content {
    width: 584px;
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    margin: 0 auto;
}
    
    .footer-container {
            max-width: 288px;
            margin-bottom: 0;
        }
    
    .footer-logo {
            text-align: left;
        }
    
    .footer-social {
            margin-bottom: 0;
        }
    
    .footer-title {
            text-align: left;
        }
    
    .footer-subscribe {}
    
    .footer-form {
            display: flex;
            gap: 24px;
        }
    
        .footer-sub {
            text-align: left;
        }
    
        .footer-sub-btn {
            margin-top: 0;
        }

        .modal {
            max-width: 408px;
            padding: 72px 24px 24px;
        }
        
        .modal-input {
            padding-left: 38px;
        }
}




@media screen and (min-width: 1158px) {

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    }

    .portfolio-container {
    margin: 0 auto;
    max-width: 1158px;
    }

.header {
    max-width: 1440px;
    margin: 0 auto;
}

 .header-container {
     max-width: 1158px;
     align-items: center;
 }

 .header-logo {
     margin-right: 76px;
 }

 .header-menu-list {
     margin-right: 332px;
}

 .contacts-list {
     display: flex;
     gap: 40px;
 }

.contacts {
    margin-left: auto;
}

 .contacts-item {
     margin-bottom: 0;
     text-align: left;
     gap: 40px; 
 }

 .contacts-item-link {
     color: #434455;
     font-size: 16px;
     font-weight: 400;
     line-height: 1.5;
     letter-spacing: 0.02em;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 li:first-child {
     margin-bottom: 0;
 }
/*.header {
    max-width: 1440px;
    margin: 0 auto;
}*/

/* ----------------hero-1158------------------- */
.hero {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/hero-bg.jpg);
    }

@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero-bg-2x.jpg);
    }
}

.hero-title {
    font-size: 56px;
    margin-bottom: 48px;
}

/* ----------------features-1158------------------- */

 .features {
     width: 1158px;
     padding: 120px 15px;
 }

 .features-list {
     flex-wrap: nowrap;
     align-items: flex-start;
     margin: 0;
 }

 .features-list-item {
     flex-basis: calc((100% - 3 * 24px) / 4);
     align-items: center;
 }

 .features-icon {
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 24px 100px;
     border: 1px solid #8e8f99;
     border-radius: 4px;
     background: #f4f4fd;
     margin-bottom: 8px;
     width: 264px;
     height: 112px;
 }

 .features-list-title {
     font-size: 20px;
     font-weight: 500;
     line-height: 1.2;
     text-align: left;
 }

 .features-list-text {
     max-width: 264px;
 }

 /*----------- team 1158--------------- */

 .team {
     width: 1158px;
     padding: 120px 0;
     margin: 0 auto;
 }

 .team-list {
    flex-wrap: nowrap;
    gap: 24px;
 }

 .team-item {
     flex-basis: calc((100% - 3 * 24px) / 4);
}

/* ---------------portfolio 1158----------- */

.portfolio {
    max-width: 1158px;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-list {
    gap: 48px 24px;
}    

.portfolio-item {
    width: calc((100% - 2* 24px) /3);
}


 .footer {
    max-width: 1440px;
     padding: 100px 0;
 }

 .footer-content {
     width: 1128px;
     flex-wrap: nowrap;
     gap: 0;
     padding-left: 0;
 }

 .footer-container {
     min-width: 264px;
     margin-right: 120px;
 }

 .footer-social {
     margin-right: 80px;
 }

 .footer-subscribe {
     max-width: 453px;
     margin-right: 0;
 }

 .footer-form {
     gap: 24px;
 }

 .footer-form-email {
     min-width: 264px;
 }
}


/*.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    max-width: 1440px;
    margin: 0 auto;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
}

.header-logo-color {
    color: #2E2F42;
}

.header-menu-list {
    display: flex;
    gap: 40px;
}

.header-menu-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2E2F42;
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
    color: #404BBF
}

.header-menu-link:hover {
    color: #404BBF;
}

.header-menu-link:active {
    color: #404BBF;
}

.header-menu-link:focus {
    color: #404bbf;
}

.header-menu-link.current:after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    display: block;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
}

/*------------------------------- */

/*----------- contacts------------ */
/*.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    gap: 40px;
}

.contacts-item {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-item:hover {
    color: #404BBF;
}

.contacts-item:focus {
    color: #404bbf;
}

/*------------------------------- */

/*----------- hero --------------- */

/*.hero {
    background-color: #2E2F42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}

.hero-container {}

.hero-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    max-width: 496px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}

.hero-btn {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: left;
    color: #FFFFFF;
    background-color: #4D5AE5;
    /*cursor: pointer;*/
  /*  margin: 0 auto;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    display: block;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover {
    background-color: #404BBF;
}

.hero-btn:focus {
    background-color: #404BBF;
}

/*------------------------------- */

/*----------- features --------------- */

/*.features {
    padding: 120px 0;
    max-width: 1440px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    gap: 24px;
}

.features-list-item {
    width: calc((100% - 72px) / 4);
}

.features-icon {
    width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background-color: #F4F4FD;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.features-list-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2E2F42;
    margin-bottom: 8px;
}

.features-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}

/*------------------------------- */

/*----------- team --------------- */

/*.team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
    max-width: 1440px;
    margin: 0 auto;
}

/*.team-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-img {
    margin: 0 auto;
}

.team-container-workers {
    padding: 32px 0;
}

.team-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    background-color: #FFFFFF;
    margin-bottom: 8px;
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    padding-bottom: 8px;
}

.item {
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

.links-list {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
}

.link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover {
    background-color: #404BBF;
}

.link:focus {
    background-color: #404bbf;
}

.team-icons {
    gap: 24px;
    fill: #f4f4fd;
}

/*.icon-instagram {
    fill: #f4f4fd;
}

.icon-twitter {
    fill: #f4f4fd;
}

.icon-facebook {
    fill: #f4f4fd;
   }
   
.icon-linkedin {
    fill: #f4f4fd;
}*/

/*------------------------------- */

/*----------- portfolio --------------- */

/*.portfolio {
    background-color: #FFFFFF;
    padding-top: 120px;
    padding-bottom: 120px;
    max-width: 1440px;
    margin: 0 auto;
}

.portfolio-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    gap: 48px 24px;
    flex-wrap: wrap;
}

.portfolio-item {
    width: calc((100% - 2* 24px) /3);
    position: relative;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-cover-text {
    transform: translateY(0);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}


.portfolio-text-container {
    width: 360px;
    height: 120px;
    background-color: #FFFFFF;
    border: 1px solid #E7E9FC;
    border-top: none;
    padding: 32px 16px;
}

.portfolio-img {
    margin: 0 auto;
}

.portfolio-cover-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-cover-text {
    position: absolute;
    top: 0;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #F4F4FD;
    background-color: #4D5AE5;
    height: 100%;
    width: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2E2F42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

/*------------------------------- */

/*----------- footer --------------- */

/*.footer {
    background-color: #2E2F42;
    padding: 100px 0;
    max-width: 1440px;
    margin: 0 auto;
}

.footer-content {
    display: flex;
    align-items: baseline;
}

.footer-container {
    margin-right: 120px
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block;
}

.footer-logo-color {
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #F4F4FD;
    max-width: 264px;
}

.footer-social {
    margin-left: 0 auto;
    margin-right: 80px;
}


.footer-social-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-links-list {
    display: flex;
    gap: 16px;
}

.footer-item {
    width: 40px;
    height: 40px;
}

.footer-link {
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover {
    background-color: #31d0aa;
}

.footer-link:focus {
    background-color: #31d0aa;
}

.footer-icons {
    fill: #f4f4fd
}

.footer-sub {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-form-email {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.footer-form-email::placeholder {
    color: #ffffff;
}

.footer-sub-btn {
    min-width: 165px;
    height: 40px;
    justify-content: center;
    align-items: center;
    /*Top: 584px;
        Left: 635px;*/
 /*   border-radius: 4px;
    color: #FFFFFF;
    background-color: #4D5AE5;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
    padding: 16px 32px;
    display: flex;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-icon-send {
    margin-left: 16px;
    fill: #FFFFFF;
}

/*------------------------------- */


/*--------backdrop--------------*/

/*.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    width: 408px;
    min-height: 584px;
    background-color: #FCFCFC;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.modal-close {
    background-color: #e7e9fc;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    top: 24px;
    right: 24px;
    margin-left: auto;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
}

.modal-close:hover {
    background-color: #404bbf;
    border: none;
    /*transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #ffffff;
}*/

/*.modal-close:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-icons-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-wrap {
    /*position: relative;
padding: 72px 24px 24px 24px;*/
/*    margin-bottom: 8px;
}

/*.modal-icons {
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    /*padding: 3px 0px 3px 0px;
    gap: 4px;
    opacity: 0;*/
/*    position: absolute;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    justify-content: center;
    margin-bottom: 16px;
}

.modal-input {
    width: 100%;
    height: 40px;
    border-Radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-bottom: 8px;
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-input:focus+.modal-icons {
    fill: #4D5AE5;
}

.modal-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.modal-input-icon {
    position: relative;
}

.user-name .user-phone .user-email {
    display: block;
    margin: 0 0 4px 24px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #8E8F99;
}

.modal-feedback {
    margin-bottom: 16px;
}

textarea {
    resize: none;
    border-radius: 4px;
    Border: 1px solid #8E8F99;
    margin: 0 24px 16px 0;
    width: 360px;
    height: 120px;
}

.modal-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment:focus {
    border-color: #4D5AE5;
}

.modal-comment::placeholder {
    color: #2E2F4266;
}

.modal-checkbox {
    margin-bottom: 24px;
}

.modal-checkbox-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-checkbox-text-icon {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}

.modal-checkbox-input:checked+.modal-checkbox-text>.modal-checkbox-text-icon {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
    ;
}

.modal-check-link {
    color: #4d5ae5;
    ;
}

.modal-submit {
    min-width: 169px;
    Height: 56px;
    Top: 584px;
    Left: 635px;
    border-radius: 4px;
    Gap: 10px;
    color: #FFFFFF;
    background-color: #4D5AE5;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
    padding: 16px 32px;
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

*/